<launch>

  <!-- start the driver in a camera_nodelet_manager process -->
  <include file="$(find ladybug3camera)/launch/stereo_nodelet_manager.launch" />

  <!-- Bayer color decoding -->
  <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
        args="load image_proc/debayer ladybug3_camera_nodelet_manager">
    <remap from="image_color" to="ladybug3_camera/image_color" />
    <remap from="image_mono" to="ladybug3_camera/image_mono" />
    <remap from="image_raw" to="ladybug3_camera/image_raw" />
  </node>

  <!-- mono rectification -->
  <node pkg="nodelet" type="nodelet" name="image_proc_rect"
        args="load image_proc/rectify ladybug3_camera_nodelet_manager">
    <remap from="image_mono" to="ladybug3_camera/image_mono" />
    <remap from="image_rect" to="ladybug3_camera/image_rect" />
  </node>

  <!-- color rectification -->
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_color"
        args="load image_proc/rectify ladybug3_camera_nodelet_manager">
    <remap from="image_mono" to="ladybug3_camera/image_color" />
    <remap from="image_rect" to="ladybug3_camera/image_rect_color" />
  </node>

</launch>
