<launch>
	<!-- declare arguments with default values -->
	<arg name="scale" default="20"/>
	<arg name="jpeg_quality" default="80"/>
	<arg name="polling_rate" default="15"/>
	<arg name="CalibrationFile" default=""/>

	<node pkg="pgrrecorder" type="pgrrecorder" name="pgrrecorder" output="screen">
		<param name="scale" value="$(arg scale)"/>
		<param name="jpeg_quality" value="$(arg jpeg_quality)"/>
		<param name="polling_rate" value="$(arg polling_rate)"/>
		<param name="calibrationfile" value="$(arg CalibrationFile)"/>
	</node>
</launch>
